{% extends "scos/base.html" %}

{% block content %}
<div class="v-container">
    <h2>{{ scos_platform.title }}</h2>
</div>

<div class="h-container">
    <a class="button" href="{% url 'scos:scos' %}">Панель СЦОС</a>
    <a class="button" href="{% url 'scos:course_add' %}">Добавить курс</a>
</div>
<form id="course_id_form">
    <div class="h-container">
        <input id="course_id_submit" name="submit_course_id" class="button" type="submit" value="Проверить по ID">
        <input id="course_id_text" name="text_course_id" type="text" required>
    </div>
</form>

<div class="v-container">
    <p>Всего курсов: {{ scos_courses.total_count }}</p>
    <table class="courses">
        <tr>
            <th>Название онлайн-курса</th>
            <th>Дата ближайшего запуска</th>
            <th>Правообладатель</th>
        </tr>
    {% for course in scos_courses.results %}
        <tr class="courses">
            <td><a href="{% url 'scos:course' global_id=course.global_id %}">{{ course.title }}</a></td>
            <td><a href="{% url 'scos:course' global_id=course.global_id %}">{{ course.started_at }}</a></td>
            <td><a href="{% url 'scos:course' global_id=course.global_id %}">{{ course.institution_short_title }}</a></td>
        </tr>
    </a>
    {% endfor %}
    </table>
</div>

<script>
    const openCourseByIDUrl = "{% url 'scos:course_check_id' %}";
</script>
{% load static %}
<script src="{% static 'scos/js/course/all.js' %}"></script>

{% endblock content %}