{% extends "scos/base.html" %}

{% block content %}
<div class="v-container">
    <h2>Параметры курса размещенного на СЦОС</h2>
</div>

<div class="h-container">
    <a class="button" href="{% url 'scos:scos' %}">Панель СЦОС</a>
    <a class="button" href="{% url 'scos:course_all' %}">К выбору курса</a>
    <a class="button" href="{% url 'scos:course_update' global_id=global_id %}">Обновить курс</a>
</div>

{% csrf_token %}
<script>
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    const courseStatusURL = new URL("{% url 'scos:course_status' %}", window.location.origin);
    courseStatusURL.searchParams.set("global_id", "{{ global_id }}");
</script>

<div class="h-container">
    <img class="course-img" src="{{ scos_course.image }}" alt="Обложка курса" />
    <div class="v-container">
        <h3 style="margin-bottom: 1.5rem;">{{ scos_course.title }}</h3>
        <p style="margin-bottom: 0.5rem;">Course status: <span id="course_status">{{ status }}</span></p>
        <form style="height: 5rem;" id="course_status_form">
            <input class="button" id="course_status_button" type="submit" value="Изменить статус">
        </form>
        <p>Course moderation status: <span id="course_moderation_status">{{ moderation_status }}</span></p>
    </div>
</div>

<div class="v-container">
    <table class="courses">
        <tr>
            <th style="width: 25%;">Параметр</th>
            <th style="width: 75%;">Значение</th>
        </tr>
        {% for attr, value in scos_course.items %}
        <tr>
            <td>{{ attr }}</td>
            <td>{{ value }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% load static %}
<script src="{% static 'scos/js/course/course.js' %}"></script>

{% endblock content %}
