<table class="courses">
    <tr>
        <th colspan="2" style="width: 300px;">Параметр</th>
        <th>Значение</th>
    </tr>
    {% for attr in course.values %}
    {% if not attr.value and attr.required == True %}
    <tr>
        {% include "scos/course/components/name_and_mark_cells.html" %}
        <td>
            <textarea id="{{ attr.name }}" name="{{ attr.name }}" class="expandable value" required></textarea>
        </td>
    </tr>
    {% elif attr.value %}
    <tr>
        {% include "scos/course/components/name_and_mark_cells.html" %}
        <td>
            <textarea id="{{ attr.name }}" name="{{ attr.name }}" class="expandable" disabled>{{ attr.value }}</textarea>
        </td>
    </tr>
    {% else %}
    <tr>
        {% include "scos/course/components/name_and_mark_cells.html" %}
        <td>
            <textarea id="{{ attr.name }}" name="{{ attr.name }}" class="expandable value"></textarea>
        </td>
    </tr>
    {% endif %}
    {% endfor %}
</table>